<section id="role-selection" class="full-screen-modal active">
    <div class="creation-wizard fade-in">
        <h1 class="pocket-logo cinzel">RPG dos <span>Guri</span></h1>
        <h2 class="cinzel" style="text-align: center; color: var(--gold); margin-bottom: 3rem;">Escolha sua
            função</h2>
        <div class="selection-grid" style="gap: 2rem;">
            <div class="choice-card" data-role="mestre" style="padding: 3rem 1.5rem;">
                <strong>MESTRE</strong>
            </div>
            <div class="choice-card" data-role="jogador" style="padding: 3rem 1.5rem;">
                <strong>JOGADOR</strong>
            </div>
        </div>
    </div>
</section>
